<footer class="text-center text-lg-start text-muted">
    <div class="container p-4">

        {% if page_obj.has_other_pages %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">

            {# Первая страница #}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'posts:home' %}?p=1&s={{ search_str }}">1 << </a>
            </li>
            {% endif %}

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_previous %}
                 href="{% url 'posts:home' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Предыдущая</a>
            </li>

            {# Предыдущая страница #}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'posts:home' %}?p={{ page_obj.previous_page_number }}&s={{ search_str }}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}


            {# Текущая страница #}
            <li class="page-item active" aria-current="page">
              <a class="page-link">{{ page_obj.number }}</a>
            </li>


            {# Следующая страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'posts:home' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% endif %}

            {# Запасная страница #}
            {% if page_obj.number|add:'1' < paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'posts:home' %}?p={{ page_obj.number | add:'2' }}&s={{ search_str }}">{{ page_obj.number|add:'2' }}</a>
            </li>
            {% endif %}

            {# Следующая страница #}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a class="page-link"
                 {% if page_obj.has_next %}
                 href="{% url 'posts:home' %}?p={{ page_obj.next_page_number }}&s={{ search_str }}"
                 {% endif %}
              >Следующая</a>
            </li>

            {# Последняя страница #}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'posts:home' %}?p={{ paginator.num_pages }}&s={{ search_str }}"> >> {{ paginator.num_pages }}</a>
            </li>
            {% endif %}

          </ul>
        </nav>
    {% endif %}
    </div>
</footer>